

<div class="page_slider menu_transparent">
    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" style="padding: 0px; height: 623px; max-height: none; overflow: visible; background-color: rgb(0, 0, 0);">
        <div id="rev_slider_1_1" class="rev_slider fullscreenbanner revslider-initialised tp-simpleresponsive hovered" style="height: 100%; max-height: none;">
            <ul class="bxslider tp-revslider-mainul" style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;">
                    <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="" data-src="~/Content/images/kazan-main.JPG" style="width: 100%; height: 100%; opacity: 1; visibility: hidden; background-image: url('/Content/images/kazan-main.JPG'); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                    <div class="tp-caption pp_subheader sfl stl tp-resizeme start" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="-300" data-speed="600" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="z-index: 5; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px 0px 2px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 16px; left: 652px; top: 335px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, -50, 0, 0, 1);">
                        Italy
                    </div>
                    <div style="font-family: FontAwesome" class="tp-caption pp_header sfr str tp-resizeme start" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="-180" data-speed="600" data-start="1300" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="z-index: 6; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 114px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 80px; left: 505.5px; top: 373px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 50, 0, 0, 1);">
                        Venezia
                    </div>
                    <div class="tp-caption pp_content sfb stb tp-resizeme start" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="-100" data-speed="600" data-start="1600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="z-index: 7; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 26px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 16px; left: 454.5px; top: 489px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 50, 0, 1);">
                        Arctic temperatures and several meters of snow<br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 26px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 16px;">
                        are no match for the natural impressions and cultural twist <br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 26px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 16px;">
                        that will warm your soul while dog sledding in Greenland.<br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 26px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 16px;">
                    </div>
                </li>
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" class="tp-revslider-slidesli active-revslide current-sr-slide-visible" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1;">
                    <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined">
                        @*<div id="wallpaper" class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top"
                             data-bgrepeat="no-repeat" data-lazydone="undefined" src="~/Content/images/kazan-main.JPG"
                             data-src="~/Content/images/kazan-main.JPG" style="width: 100%; height: 100%; opacity: 1; visibility: inherit;
                                        background-image: url('/Content/images/kazan-main.JPG'); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div>*@
                    </div>
                    <div class="tp-caption pp_subheader sfl stl tp-resizeme start" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="-300" data-speed="600" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="z-index: 5; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 28px; border-width: 0px 0px 2px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 15px; left: 620.5px; top: 312.790104947526px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                        9 августа 2014
                    </div>
                    <div class="tp-caption pp_header sfr str tp-resizeme start" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="-180" data-speed="600" data-start="1300" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="z-index: 6; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 106px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 75px; left: 534.5px; top: 348.874062968516px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                        Казань
                    </div>
                    <div class="tp-caption pp_content sfb stb tp-resizeme start" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="-100" data-speed="600" data-start="1600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="z-index: 7; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 15px; left: 468.5px; top: 457.596701649175px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                        Прогулка по казанскому кремлю. Смотровая площадка <br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 15px;">
                        рядом с резиденцией президента Татарстана. <br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 15px;">
                        Вид на здание министерства сельсского хозяйства.<br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 15px;">
                    </div>
                </li>
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; visibility: hidden; opacity: 0; z-index: 18;">
                    <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://themes.themegoods2.com/altair/wp-content/uploads/2014/10/1600x1200-4.jpg" data-src="http://themes.themegoods2.com/altair/wp-content/uploads/2014/10/1600x1200-4.jpg" style="width: 100%; height: 100%; visibility: hidden; opacity: 0; background-image: url(http://themes.themegoods2.com/altair/wp-content/uploads/2014/10/1600x1200-4.jpg); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;"></div></div>
                    <div class="tp-caption pp_subheader sfl stl tp-resizeme start" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="-300" data-speed="600" data-start="1000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="z-index: 5; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px 0px 2px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 16px; left: 643px; top: 335px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, -50, 0, 0, 1);">
                        France
                    </div>
                    <div class="tp-caption pp_header sfr str tp-resizeme start" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="-180" data-speed="600" data-start="1300" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="z-index: 6; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 114px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 80px; left: 560px; top: 373px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 50, 0, 0, 1);">
                        Paris
                    </div>
                    <div class="tp-caption pp_content sfb stb tp-resizeme start" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="-100" data-speed="600" data-start="1600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="z-index: 7; white-space: nowrap; -webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 26px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 16px; left: 454.5px; top: 489px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 50, 0, 1);">
                        Arctic temperatures and several meters of snow<br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 26px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 16px;">
                        are no match for the natural impressions and cultural twist <br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 26px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 16px;">
                        that will warm your soul while dog sledding in Greenland.<br style="-webkit-transition: all 0s ease 0s; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 26px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 16px;">
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important; width: 7.42222222222198%; transform: translate3d(0px, 0px, 0px);"></div>	<div class="tp-loader spinner2" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
        </div>

        <style scoped="">
            .tp-caption.pp_subheader, .pp_subheader {
                font-size: 16px;
                line-height: 30px;
                font-weight: 600;
                color: rgb(255,255,255);
                font-style: italic;
                text-decoration: none;
                text-transform: uppercase;
                text-shadow: none;
                background-color: transparent;
                border-width: 0px 0px 2px 0px;
                border-color: rgb(255,255,255);
                border-style: solid;
            }

            .tp-caption.pp_header, .pp_header {
                color: #ffffff;
                text-shadow: none;
                background-color: transparent;
                text-decoration: none;
                font-size: 80px;
                line-height: 114px;
                font-weight: 700;
                font-family: Raleway;
                text-transform: uppercase;
                border-width: 0px;
                border-color: rgb(0,0,0);
                border-style: none;
            }

            .tp-caption.pp_content, .pp_content {
                color: #ffffff;
                text-shadow: none;
                background-color: transparent;
                text-decoration: none;
                font-size: 16px;
                line-height: 26px;
                font-weight: 500;
                font-family: Raleway;
                text-align: center;
                border-width: 0px;
                border-color: rgb(0,0,0);
                border-style: none;
            }
        </style>

        <style type="text/css">
            #rev_slider_1_1_wrapper .tp-loader.spinner2 {
                background-color: #ffffff !important;
            }
        </style>
        <div class="tp-bullets simplebullets round" style="bottom: 18.6806596701649px; left: 50%; margin-left: -20px;">
            <div class="bullet first"></div><div class="bullet selected"></div><div class="bullet last"></div><div class="tpclear"></div>
        </div>
        <div id="btn-prev" style="position: absolute; top: 292px; margin-top: -20px; left: 20px;" class="tp-leftarrow tparrows default round">
            <div class="tp-arr-allwrapper">
                <div class="tp-arr-iwrapper">
                    <div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(http://themes.themegoods2.com/altair/wp-content/uploads/2014/10/1600x1200-1.jpg);"></div><div class="tp-arr-imgholder2"></div><div class="tp-arr-titleholder"></div><div class="tp-arr-subtitleholder">

                    </div>
                </div>
            </div>
        </div><div id="btn-next" style="position: absolute; top: 292px; margin-top: -20px; right: 20px;" class="tp-rightarrow tparrows default round"><div class="tp-arr-allwrapper"><div class="tp-arr-iwrapper"><div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(http://themes.themegoods2.com/altair/wp-content/uploads/2014/10/1600x1200-4.jpg);"></div><div class="tp-arr-imgholder2"></div><div class="tp-arr-titleholder"></div><div class="tp-arr-subtitleholder"></div></div></div></div>
    </div>
</div>
<br>
<div class="ppb_wrapper  " style="margin-top: 612px;">
    <div class="ppb_tour one withpadding " style="border-top:1px solid #e1e1e1;">
        <div class="page_content_wrapper full_width" style="text-align:center">
            <h2 class="ppb_title">Мои Города</h2><div class="page_caption_desc">Места, куда хочется вернуться еще раз</div>
            @Html.Partial("~/Views/Home/PlacesGrid.cshtml")
        </div>
    </div>

    <div class="one withsmallpadding " style="background:#f3f3f3;">
        <div class="page_content_wrapper">
            <div class="one_fourth">
                <div class="animate_counter_wrapper"><i class="fa fa-smile-o"></i><br><div id="14366594541840969743" class="odometer odometer-auto-theme" style="font-size:44px;line-height:44px;"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">7</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span><span class="odometer-formatting-mark">,</span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">1</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">1</span></span></span></span></span></div></div><div class="count_separator"><span></span></div><div class="counter_subject">Города</div></div>
            </div>
            <div class="one_fourth">
                <div class="animate_counter_wrapper"><i class="fa fa-bus"></i><br><div id="143665945443587662" class="odometer odometer-auto-theme" style="font-size:44px;line-height:44px;"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">1</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">9</span></span></span></span></span></div></div><div class="count_separator"><span></span></div><div class="counter_subject">Страны</div></div>
            </div>
            <div class="one_fourth">
                <div class="animate_counter_wrapper"><i class="fa fa-briefcase"></i><br><div id="143665945444169302" class="odometer odometer-auto-theme" style="font-size:44px;line-height:44px;"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">6</span></span></span></span></span><span class="odometer-formatting-mark">,</span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">4</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">9</span></span></span></span></span></div></div><div class="count_separator"><span></span></div><div class="counter_subject">Места</div></div>
            </div>
            <div class="one_fourth last">
                <div class="animate_counter_wrapper"><i class="fa fa-comments-o"></i><br><div id="14366594541028624828" class="odometer odometer-auto-theme" style="font-size:44px;line-height:44px;"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">1</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span><span class="odometer-formatting-mark">,</span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">8</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">7</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">6</span></span></span></span></span></div></div><div class="count_separator"><span></span></div><div class="counter_subject">Гостиницы</div></div>
            </div>
            <p>
            </p>
        </div>
    </div>

    <div class="one withsmallpadding " style="background:#f3f3f3;">
        <div class="page_content_wrapper">
            <div class="one_fourth">
                <div class="animate_counter_wrapper"><i class="fa fa-smile-o"></i><br><div id="14366594541840969743" class="odometer odometer-auto-theme" style="font-size:44px;line-height:44px;"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">7</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span><span class="odometer-formatting-mark">,</span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">1</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">1</span></span></span></span></span></div></div><div class="count_separator"><span></span></div><div class="counter_subject">Дней в пути</div></div>
            </div>
            <div class="one_fourth">
                <div class="animate_counter_wrapper"><i class="fa fa-bus"></i><br><div id="143665945443587662" class="odometer odometer-auto-theme" style="font-size:44px;line-height:44px;"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">1</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">9</span></span></span></span></span></div></div><div class="count_separator"><span></span></div><div class="counter_subject">Перелеты</div></div>
            </div>
            <div class="one_fourth">
                <div class="animate_counter_wrapper"><i class="fa fa-briefcase"></i><br><div id="143665945444169302" class="odometer odometer-auto-theme" style="font-size:44px;line-height:44px;"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">6</span></span></span></span></span><span class="odometer-formatting-mark">,</span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">4</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">9</span></span></span></span></span></div></div><div class="count_separator"><span></span></div><div class="counter_subject">Рестораны и кафе</div></div>
            </div>
            <div class="one_fourth last">
                <div class="animate_counter_wrapper"><i class="fa fa-comments-o"></i><br><div id="14366594541028624828" class="odometer odometer-auto-theme" style="font-size:44px;line-height:44px;"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">1</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span></span></span></span><span class="odometer-formatting-mark">,</span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">8</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">7</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">6</span></span></span></span></span></div></div><div class="count_separator"><span></span></div><div class="counter_subject">Поездки с собакой</div></div>
            </div>
            <p>
            </p>
        </div>
    </div>
    <div class="one withsmallpadding withbg " style="background-image:url(http://themes.themegoods2.com/altair/wp-content/uploads/2014/10/1600x1200-15.jpg);background-size:cover;margin-top:-1px;">
        <div class="page_content_wrapper fullwidth" style="text-align:center">
            <h2 class="ppb_title">News &amp; Update</h2><div class="page_caption_desc">Our latest news &amp; promotions</div><div id="blog_grid_wrapper" class="sidebar_content full_width ppb_blog_posts isotope" style="text-align: left; position: relative; overflow: hidden; height: 853.9375px;">
                <div id="post-2720" class="post type-post hentry status-publish isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                    <div class="post_wrapper grid_layout" style="background-image:url(&#39;http://themes.themegoods2.com/altair/wp-content/uploads/2014/10/s01-1024x682.jpg&#39;);">
                        <div class="parallax_overlay_header"></div><div class="grid_wrapper">
                            <div class="post_header grid">
                                <a href="http://themes.themegoods2.com/altair/standard-blog-post-with-image/" title="Standard Blog Post With Image"><h6>Standard Blog Post With Image</h6></a>
                                <div class="post_detail">
                                    On&nbsp;May 28, 2014
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div id="post-1135" class="post type-post hentry status-publish isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 0px, 0px);">
                    <div class="post_wrapper grid_layout" style="background-image:url(&#39;http://themes.themegoods2.com/altair/wp-content/uploads/2014/05/1600x1200-8-1024x768.jpg&#39;);">
                        <div class="parallax_overlay_header"></div><div class="grid_wrapper">
                            <div class="post_header grid">
                                <a href="http://themes.themegoods2.com/altair/amazing-fullwidth-post/" title="Amazing Fullwidth Post"><h6>Amazing Fullwidth Post</h6></a>
                                <div class="post_detail">
                                    On&nbsp;May 26, 2014
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div id="post-491" class="post type-post hentry status-publish isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(675px, 0px, 0px);">
                    <div class="post_wrapper grid_layout" style="background-image:url(&#39;http://themes.themegoods2.com/altair/wp-content/uploads/2014/10/1600x1200-4-1024x768.jpg&#39;);">
                        <div class="parallax_overlay_header"></div><div class="grid_wrapper">
                            <div class="post_header grid">
                                <a href="http://themes.themegoods2.com/altair/multiple-gallery-style-support/" title="Link Post"><h6>Link Post</h6></a>
                                <div class="post_detail">
                                    On&nbsp;May 19, 2014
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div id="post-1131" class="post type-post hentry status-publish isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(1012px, 0px, 0px);">
                    <div class="post_wrapper grid_layout" style="background-image:url(&#39;http://themes.themegoods2.com/altair/wp-content/uploads/2014/10/1600x1200-9-1024x768.jpg&#39;);">
                        <div class="parallax_overlay_header"></div><div class="grid_wrapper">
                            <div class="post_header grid">
                                <a href="http://themes.themegoods2.com/altair/quote-post/" title="Quote Post"><h6>Quote Post</h6></a>
                                <div class="post_detail">
                                    On&nbsp;May 18, 2014
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div id="post-1133" class="post type-post hentry status-publish isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 427px, 0px);">
                    <div class="post_wrapper grid_layout" style="background-image:url(&#39;http://themes.themegoods2.com/altair/wp-content/uploads/2014/10/paris-opera-night-france-hd-widescreen-wallpapers-1024x640.jpg&#39;);">
                        <div class="parallax_overlay_header"></div><div class="grid_wrapper">
                            <div class="post_header grid">
                                <a href="http://themes.themegoods2.com/altair/customisable-font-and-element-colors-using-theme-admin/" title="Sidebar Post With Slideshow"><h6>Sidebar Post With Slideshow</h6></a>
                                <div class="post_detail">
                                    On&nbsp;June 26, 2013
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div id="post-490" class="post type-post hentry status-publish isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 427px, 0px);">
                    <div class="post_wrapper grid_layout" style="background-image:url(&#39;http://themes.themegoods2.com/altair/wp-content/uploads/2014/10/Ermin-Celikovic-1024x682.jpg&#39;);">
                        <div class="parallax_overlay_header"></div><div class="grid_wrapper">
                            <div class="post_header grid">
                                <a href="http://themes.themegoods2.com/altair/duis-vestibulum-quis-quam/" title="Duis vestibulum quis quam"><h6>Duis vestibulum quis quam</h6></a>
                                <div class="post_detail">
                                    On&nbsp;June 22, 2011
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div id="post-489" class="post type-post hentry status-publish isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(675px, 427px, 0px);">
                    <div class="post_wrapper grid_layout" style="background-image:url(&#39;http://themes.themegoods2.com/altair/wp-content/uploads/2014/10/1600x1200-12-1024x768.jpg&#39;);">
                        <div class="parallax_overlay_header"></div><div class="grid_wrapper">
                            <div class="post_header grid">
                                <a href="http://themes.themegoods2.com/altair/vimeo-video-post/" title="Vimeo Video Post"><h6>Vimeo Video Post</h6></a>
                                <div class="post_detail">
                                    On&nbsp;June 22, 2011
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div id="post-2726" class="post type-post hentry status-publish isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(1012px, 427px, 0px);">
                    <div class="post_wrapper grid_layout" style="background-image:url(&#39;http://themes.themegoods2.com/altair/wp-content/uploads/2011/05/paris-cityscapes_00411691-1024x576.jpg&#39;);">
                        <div class="parallax_overlay_header"></div><div class="grid_wrapper">
                            <div class="post_header grid">
                                <a href="http://themes.themegoods2.com/altair/link-post2/" title="Link Post2"><h6>Link Post2</h6></a>
                                <div class="post_detail">
                                    On&nbsp;May 28, 2011
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br class="clear">
        </div>
    </div>
</div>


@Html.Partial("~/Views/Shared/Wallpapers.cshtml")

