<div class="portfolio_filter_wrapper three_cols fullwidth shortcode gallery section content clearfix visible isotope" style="position: relative; overflow: hidden; height: 734px;">
    <div class="element portfolio3filter_wrapper isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
        <div class="one_third gallery3 filterable gallery_type animated1 fadeIn">
            <a href="http://themes.themegoods2.com/altair/tours/grand-turkey/">

                <img style="width: 448px; height: 368px;" src="~/Content/images/kul_sharif.JPG" />
            </a><div class="thumb_content fullwidth ">
                <div class="thumb_title">
                    <div class="tour_country">
                        Казань
                    </div><h3>Кул Шариф</h3>
                </div>
                <div class="thumb_meta">
                    <div class="tour_days">
                        8 августа 2014
                    </div>
                </div>
            </div>
        </div>
    </div><div class="element portfolio3filter_wrapper isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(449px, 0px, 0px);">
        <div class="one_third gallery3 filterable gallery_type animated2 fadeIn">
            <a href="http://themes.themegoods2.com/altair/tours/grand-spain-madrid/">
                <img style="width: 448px; height: 368px;" src="~/Content/images/september.jpg" />
            </a><div class="thumb_content fullwidth ">
                <div class="thumb_title">
                    <div class="tour_country">
                        Москва
                    </div><h3>Главный корпус МГУ</h3>
                </div>
                <div class="thumb_meta">
                    <div class="tour_days">
                        1 сентября 2014
                    </div>
                </div>
            </div>
        </div>
    </div><div class="element portfolio3filter_wrapper isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(898px, 0px, 0px);">
        <div class="one_third gallery3 filterable gallery_type animated3 fadeIn">
            <a href="http://themes.themegoods2.com/altair/tours/swiss-alps-trip/">
                <img src="~/Content/images/1600x1200-9-560x460.jpg" />
            </a><div class="thumb_content fullwidth ">
                <div class="thumb_title">
                    <div class="tour_country">
                        Austria, Switzerland
                    </div><h3>Swiss Alps Trip</h3>
                </div>
                <div class="thumb_meta">
                    <div class="tour_days">
                        13 Days
                    </div>
                </div>
            </div>
        </div>
    </div><div class="element portfolio3filter_wrapper isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 367px, 0px);">
        <div class="one_third gallery3 filterable gallery_type animated4 fadeIn">
            <a href="http://themes.themegoods2.com/altair/tours/grand-italy/">
                <img src="~/Content/images/1600x1200-10-560x460.jpg" />
            </a><div class="thumb_content fullwidth ">
                <div class="thumb_title">
                    <div class="tour_country">
                        Italy
                    </div><h3>Grand Italy</h3>
                </div>
                <div class="thumb_meta">
                    <div class="tour_days">
                        8 Days
                    </div>
                </div>
            </div>
        </div>
    </div><div class="element portfolio3filter_wrapper isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(449px, 367px, 0px);">
        <div class="one_third gallery3 filterable gallery_type animated5 fadeIn">
            <a href="http://themes.themegoods2.com/altair/tours/uk-trip/">
                <img src="~/Content/images/1600x1200-11-560x460.jpg" />
            </a><div class="thumb_content fullwidth ">
                <div class="thumb_title">
                    <div class="tour_country">
                        England, Scotland, Wales
                    </div><h3>UK Trip</h3>
                </div>
                <div class="thumb_meta">
                    <div class="tour_days">
                        13 Days
                    </div>
                </div>
            </div>
        </div>
    </div><div class="element portfolio3filter_wrapper isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(898px, 367px, 0px);">
        <div class="one_third gallery3 filterable gallery_type animated6 fadeIn">
            <a href="http://themes.themegoods2.com/altair/tours/east-europe/">
                <img src="~/Content/images/1600x1200-12-560x460.jpg" />
            </a><div class="thumb_content fullwidth ">
                <div class="thumb_title">
                    <div class="tour_country">
                        Slovenia, Hungary, Czech
                    </div><h3>East Europe</h3>
                </div>
                <div class="thumb_meta">
                    <div class="tour_days">
                        10 Days
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>