@{
    Layout = null;
}
@model List<NS.Elenalife.UI.Post>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/admin.css" rel="stylesheet">
    <script src="~/js/jquery.1.11.1.js"></script>
    <script src="~/js/bootstrap.js"></script>

</head>

<body>

    <div class="admin-intro-section">
    </div>

    <div class="container">
        <div class="panel-group el-accordion-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading" id="heading1">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1" class="collapsed">
                            Home page
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse" style="height: 0;">
                    <div class="panel-body">
                        <a href="posters.html">1. Posters</a><br>
                        <a href="#">2. Numbers</a><br>
                        <a href="#">3. Places</a><br>
                        <a href="#">4. Moments</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" id="heading2">
                    <h4 class="panel-title">
                        <a class="" data-toggle="collapse" href="#collapse2">
                            Travels
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" style="height: 0;">
                    <div class="panel-body">
                        <a href="#">1. lorem</a><br>
                        <a href="#">2. ipsum</a><br>
                        <a href="#">3. dolor</a><br>
                        <a href="#">4. sit</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" id="heading3">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" id="posts" href="#collapse3">
                            Notes
                        </a>

                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" style="height: 0;">
                    <div class="panel-body">
                        <a style="font-weight:bold" href="@Url.Action("AddPost", "Eladmin")">Добавить запись</a> <br />
                        @foreach (var post in Model)
                        {
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="@Url.Action("EditPost", "Eladmin", new { id = post.Id })">@post.Title</a> 
                                </div>
                                <div class="col-lg-2">
                                    <a href="@Url.Action("MarkInactive", "Eladmin", new { id = post.Id })">Удалить</a>
                                </div>
                            </div>                            
                        }
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" id="heading4">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" href="#collapse4">
                            Maps
                        </a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" style="height: 0;">
                    <div class="panel-body">
                        <a href="#">1. amet</a><br>
                        <a href="#">2. lorem</a><br>
                        <a href="#">3. ipsum</a><br>
                        <a href="#">4. dolor</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" id="heading5">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" href="#collapse5">
                            About
                        </a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" style="height: 0;">
                    <div class="panel-body">
                        <a href="#">1. amet</a><br>
                        <a href="#">2. lorem</a><br>
                        <a href="#">3. ipsum</a><br>
                        <a href="#">4. dolor</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#posts').click();
        });
    </script>

</body>
</html>