<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Elenalife</title>

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link href="~/Content/settings.css" rel="stylesheet" media="all" id="rs-plugin-settings-css" />
    <style id="rs-plugin-settings-inline-css" type="text/css">
        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
        }

            .tp-caption a:hover {
                color: #ffa902;
            }
    </style>
    <link href="~/Content/woocommerce-layout.css" rel="stylesheet" />
    <link href="~/Content/woocommerce-smallscreen.css" rel="stylesheet" />
    <link href="~/Content/woocommerce.css" rel="stylesheet" />
    <link href="~/Content/combined.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bxslider.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery-migrate.min.js"></script>
    <script src="~/Scripts/jquery.themepunch.tools.min.js"></script>
    <script src="~/Scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Scripts/jquery.bxslider.js"></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://themes.themegoods2.com/altair/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://themes.themegoods2.com/altair/wp-includes/wlwmanifest.xml">
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }

        @@font-face {
            font-family: Raleway;
            src: url(../../fonts/fontawesome-webfont.ttf);
        }

        html, body, div {
            font-family: 'Raleway', 'Helvetica Neue', Arial, Verdana, sans-serif !important;
        }

        .menu-item > a > span {
            background-color: rgba(30, 144, 255, 0.7) !important;
            padding: 5px !important;
        }
    </style>
</head>
    <body class="home page page-id-3093 page-template page-template-page_f page-template-page_f-php hover">
        <div class="parallax-block" style="width: 1349px; height: 513px; visibility: hidden; transform: translate3d(0px, 591px, 0px); -webkit-transform: translate3d(0px, 591px, 0px);">

            <img src="~/Content/images/1600x1200-12.jpg" style="width: 1349px; height: 1012px; transform: translate3d(0px, -177.3px, 0px);-webkit-transform: translate3d(0px, -177.3px, 0px);" />
        </div><div class="parallax-block" style="width: 1349px; height: 600px; visibility: hidden; transform: translate3d(0px, 635px, 0px); -webkit-transform: translate3d(0px, 635px, 0px);">
            <img class="parallax-image" src="~/Content/images/1600x1200-13.jpg" style="width: 1349px; height: 1012px; transform: translate3d(0px, -190.5px, 0px); -webkit-transform: translate3d(0px, -190.5px, 0px);" />
        </div>
        <input type="hidden" id="pp_enable_reflection" name="pp_enable_reflection" value="">
        <input type="hidden" id="pp_enable_right_click" name="pp_enable_right_click" value="">
        <input type="hidden" id="pp_enable_dragging" name="pp_enable_dragging" value="">
        <input type="hidden" id="pp_gallery_auto_info" name="pp_gallery_auto_info" value="">
        <input type="hidden" id="pp_image_path" name="pp_image_path" value="http://themes.themegoods2.com/altair/wp-content/themes/altair/images/">
        <input type="hidden" id="pp_homepage_url" name="pp_homepage_url" value="http://themes.themegoods2.com/altair">
        <input type="hidden" id="pp_blog_ajax_search" name="pp_blog_ajax_search" value="">
        <input type="hidden" id="pp_fixed_menu" name="pp_fixed_menu" value="">
        <input type="hidden" id="pp_topbar" name="pp_topbar" value="">

        <input type="hidden" id="pp_footer_style" name="pp_footer_style" value="4">

        <div class="mobile_menu_wrapper">
            <a id="close_mobile_menu" href="http://themes.themegoods2.com/altair/#"><i class="fa fa-times-circle"></i></a>
            <div class="menu-main-menu-container">
                <ul id="mobile_main_menu" class="mobile_main_nav">
                    <li id="menu-item-5" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-5">
                        <a href="#">Путешествия</a>
                    </li>
                    <li id="menu-item-6" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6">
                        <a href="http://themes.themegoods2.com/altair/sample-page/">Tours</a>
                        <ul class="sub-menu">
                            <li id="menu-item-2825" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2825"><a href="http://themes.themegoods2.com/altair/tour-grid-fullwidth/">Tour Grid Fullwidth</a></li>
                            <li id="menu-item-2814" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2814"><a href="http://themes.themegoods2.com/altair/tour-grid-contain/">Tour Grid Contain</a></li>
                            <li id="menu-item-2844" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2844"><a href="http://themes.themegoods2.com/altair/tour-classic-fullwidth/">Tour Classic Fullwidth</a></li>
                            <li id="menu-item-2828" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2828"><a href="http://themes.themegoods2.com/altair/tour-classic-contain/">Tour Classic Contain</a></li>
                            <li id="menu-item-2911" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2911"><a href="http://themes.themegoods2.com/altair/tour-list-image/">Tour List Image</a></li>
                            <li id="menu-item-2847" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2847"><a href="http://themes.themegoods2.com/altair/tour-list/">Tour List</a></li>
                            <li id="menu-item-2888" class="menu-item menu-item-type-post_type menu-item-object-tours menu-item-2888"><a href="http://themes.themegoods2.com/altair/tours/east-europe/">Single Tour</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-8" class="megamenu col4 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8">
                        <a href="http://themes.themegoods2.com/altair/#">Pages</a>
                        <ul class="sub-menu">
                            <li id="menu-item-3333" class="hidden menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3333">
                                <a href="http://themes.themegoods2.com/altair/#">Column One</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-2940" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2940"><a href="http://themes.themegoods2.com/altair/about-us/">About Us</a></li>
                                    <li id="menu-item-3091" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3091"><a href="http://themes.themegoods2.com/altair/paris/">Destination</a></li>
                                    <li id="menu-item-2928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2928"><a href="http://themes.themegoods2.com/altair/page-fullwidth/">Page Fullwidth</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-3334" class="hidden menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3334">
                                <a href="http://themes.themegoods2.com/altair/#">Column Two</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-2933" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2933"><a href="http://themes.themegoods2.com/altair/page-right-sidebar/">Page Right Sidebar</a></li>
                                    <li id="menu-item-2937" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2937"><a href="http://themes.themegoods2.com/altair/page-left-sidebar/">Page Left Sidebar</a></li>
                                    <li id="menu-item-3337" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3337"><a href="http://themes.themegoods2.com/altair/shop/">Shop</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-3335" class="hidden menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3335">
                                <a href="http://themes.themegoods2.com/altair/#">Column Three</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-2902" class="menu-item menu-item-type-post_type menu-item-object-galleries menu-item-2902"><a href="http://themes.themegoods2.com/altair/galleries/gallery-fullscreen/">Gallery Fullscreen</a></li>
                                    <li id="menu-item-2908" class="menu-item menu-item-type-post_type menu-item-object-galleries menu-item-2908"><a href="http://themes.themegoods2.com/altair/galleries/gallery-grid-fullwidth/">Gallery Grid Fullwidth</a></li>
                                    <li id="menu-item-2907" class="menu-item menu-item-type-post_type menu-item-object-galleries menu-item-2907"><a href="http://themes.themegoods2.com/altair/galleries/gallery-grid-contain/">Gallery Grid Contain</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-9" class="hidden menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9">
                                <a href="http://themes.themegoods2.com/altair/#">Column Four</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-2917" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2917"><a href="http://themes.themegoods2.com/altair/contact-us/">Contact Header Image</a></li>
                                    <li id="menu-item-2922" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2922"><a href="http://themes.themegoods2.com/altair/contact-us-2/">Contact Map</a></li>
                                    <li id="menu-item-2925" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2925"><a href="http://themes.themegoods2.com/altair/contact-us-3/">Contact Fullscreen</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-7" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7">
                        <a href="http://themes.themegoods2.com/altair/#">Blog</a>
                        <ul class="sub-menu">
                            <li id="menu-item-2744" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2744"><a href="http://themes.themegoods2.com/altair/blog-fullwidth/">Fullwidth</a></li>
                            <li id="menu-item-2752" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2752"><a href="http://themes.themegoods2.com/altair/blog-right-sidebar/">Right Sidebar</a></li>
                            <li id="menu-item-2755" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2755"><a href="http://themes.themegoods2.com/altair/blog-left-sidebar/">Left Sidebar</a></li>
                            <li id="menu-item-2758" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2758"><a href="http://themes.themegoods2.com/altair/blog-masonry/">Masonry</a></li>
                            <li id="menu-item-2762" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2762"><a href="http://themes.themegoods2.com/altair/blog-masonry-fullwidth/">Masonry Fullwidth</a></li>
                            <li id="menu-item-2768" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2768">
                                <a href="http://themes.themegoods2.com/altair/#">Single Post</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-2769" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2769"><a href="http://themes.themegoods2.com/altair/standard-blog-post-with-image/">Standard Post</a></li>
                                    <li id="menu-item-2770" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2770"><a href="http://themes.themegoods2.com/altair/vimeo-video-post/">Video Post</a></li>
                                    <li id="menu-item-2771" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2771"><a href="http://themes.themegoods2.com/altair/quote-post/">Quote Post</a></li>
                                    <li id="menu-item-2772" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2772"><a href="http://themes.themegoods2.com/altair/multiple-gallery-style-support/">Link Post</a></li>
                                    <li id="menu-item-2773" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2773"><a href="http://themes.themegoods2.com/altair/customisable-font-and-element-colors-using-theme-admin/">Gallery Post</a></li>
                                    <li id="menu-item-2775" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2775"><a href="http://themes.themegoods2.com/altair/amazing-fullwidth-post/">Fullwidth Post</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-10" class="megamenu col4 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10">
                        <a href="http://themes.themegoods2.com/altair/#">Shortcodess</a>
                        <ul class="sub-menu">
                            <li id="menu-item-3329" class="hidden menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3329">
                                <a href="http://themes.themegoods2.com/altair/#">Column One</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-3175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3175"><a href="http://themes.themegoods2.com/altair/accordion-toggles/">Accordion &amp; Toggles</a></li>
                                    <li id="menu-item-3174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3174"><a href="http://themes.themegoods2.com/altair/alert-boxes/">Alert Boxes</a></li>
                                    <li id="menu-item-3173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3173"><a href="http://themes.themegoods2.com/altair/animated-content/">Animated Content</a></li>
                                    <li id="menu-item-3172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3172"><a href="http://themes.themegoods2.com/altair/buttons-social-icons/">Buttons &amp; Social Icons</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-3330" class="hidden menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3330">
                                <a href="http://themes.themegoods2.com/altair/#">Column Two</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-3171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3171"><a href="http://themes.themegoods2.com/altair/columns/">Columns</a></li>
                                    <li id="menu-item-3170" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3170"><a href="http://themes.themegoods2.com/altair/dividers/">Dividers</a></li>
                                    <li id="menu-item-3169" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3169"><a href="http://themes.themegoods2.com/altair/gallery/">Gallery</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-3331" class="hidden menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3331">
                                <a href="http://themes.themegoods2.com/altair/#">Column Three</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-3167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3167"><a href="http://themes.themegoods2.com/altair/image-animation/">Image Animation</a></li>
                                    <li id="menu-item-3166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3166"><a href="http://themes.themegoods2.com/altair/image-teasers/">Image Teasers</a></li>
                                    <li id="menu-item-3165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3165"><a href="http://themes.themegoods2.com/altair/media/">Media</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-3332" class="hidden menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3332">
                                <a href="http://themes.themegoods2.com/altair/#">Column Four</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-3164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3164"><a href="http://themes.themegoods2.com/altair/pricing/">Pricing</a></li>
                                    <li id="menu-item-3163" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3163"><a href="http://themes.themegoods2.com/altair/promo-boxes/">Promo Boxes</a></li>
                                    <li id="menu-item-3162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3162"><a href="http://themes.themegoods2.com/altair/tabs/">Tabs</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-3328" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3328"><a href="http://themes.themegoods2.com/altair/shop/">Shop</a></li>
                </ul>
            </div>
        </div>
        <div id="wrapper">


            <div class="header_style_wrapper" style="height: auto;">

                <div class="top_bar  hasbg">

                    <div id="mobile_nav_icon"></div>

                    <div id="menu_wrapper">
                        <a id="custom_logo" class="logo_wrapper hidden" href="http://themes.themegoods2.com/altair">
                            <img src="~/Content/images/logo@2x.png" />
                        </a>


                        <a id="custom_logo_transparent" class="logo_wrapper default" href="http://themes.themegoods2.com/altair">
                            <img src="~/Content/images/logo@2x_white.png" />
                        </a>

                        <div id="nav_wrapper">
                            <div class="nav_wrapper_inner">
                                <div id="menu_border_wrapper" style="display: block;">
                                    <div class="menu-main-menu-container">
                                        <ul id="main_menu" class="nav">
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-5"><a href="http://themes.themegoods2.com/altair"><span>Путешествия</span></a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6">
                                                <a href="#"><span>Заметки</span></a>
                                            </li>
                                            <li class="megamenu col4 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8">
                                                <a href="#"><span>Карта</span></a>
                                            </li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7">
                                                <a href="http://themes.themegoods2.com/altair/#"><span>Обо мне</span></a>
                                            </li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7">
                                                <a id="instagram" href="#"><span>Инстаграм</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @RenderBody()

            @Html.Partial("~/Views/Shared/Footer.cshtml")

        </div>

            <script>
                function loadInstaroom() {
                    $.get('/Home/Instagram', function (page) {
                        $('#main').html(page);
                    });
                }

                $(document).ready(function () {
                    switch (document.location.hash) {
                        case "#!instaroom":
                            loadInstaroom();
                    }

                    $(document).on('click', '#instagram', function (e) {
                        e.preventDefault();
                        document.location.hash = "!instaroom";
                        loadInstaroom();
                    });
                });
            </script>
</body>
</html>