<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Scripts/incoding.metalanguage.js"></script>
    <script src="~/Scripts/routeService.js"></script>
    <title>Elenalife</title>
</head>
<body>
    @RenderBody()
</body>
</html>