<div class="footer_bar ">
    <div id="footer" class="">
        <ul class="sidebar_widget four">
            <li id="text-2" class="widget widget_text">
                <div class="textwidget">
                    <div style="text-align:left;margin-top:10px;">
                        <img src="~/Content/images/logo@2x_white.png" />
                        <div style="margin-top:10px;">
                            Взгляни на мир моими глазами.
                        </div>
                    </div>
                </div>
            </li>
            <li id="text-3" class="widget widget_text">
                <div class="textwidget">
                    <ul class="address">
                        <li><i class="fa fa-phone"></i>+7 (8634) 37-05-43</li>
                    </ul>
                </div>
            </li>
            <li id="recent-posts-6" class="widget widget_recent_entries">
            <li>
                <i class="fa fa-envelope"></i>&nbsp; elenayaroschenko@gmail
            </li>
            <li id="tag_cloud-5" class="widget widget_tag_cloud">
            <li><i class="fa fa-globe"></i>&nbsp; elenalife.ru</li>
        </ul>

        <br class="clear">
    </div>

    <div class="footer_bar_wrapper ">
        <div class="social_wrapper">
            <ul>
                <li class="facebook"><a href="http://themes.themegoods2.com/altair/#"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="http://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                <li class="flickr"><a title="Flickr" href="http://flickr.com/people/#"><i class="fa fa-flickr"></i></a></li>
                <li class="youtube"><a title="Youtube" href="http://youtube.com/channel/#"><i class="fa fa-youtube"></i></a></li>
                <li class="vimeo"><a title="Vimeo" href="http://vimeo.com/#"><i class="fa fa-vimeo-square"></i></a></li>
                <li class="google"><a title="Google+" href="http://themes.themegoods2.com/altair/#"><i class="fa fa-google-plus"></i></a></li>
                <li class="pinterest"><a title="Pinterest" href="http://pinterest.com/#"><i class="fa fa-pinterest"></i></a></li>
                <li class="instagram"><a title="Instagram" href="http://instagram.com/#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
        <div id="copyright">Neutrino Software 2015</div><br class="clear">
        <div id="toTop" style="opacity: 0; visibility: hidden; bottom: 0px;"><i class="fa fa-angle-up"></i></div>
    </div>
</div>
