/* ====================================================== it-section ============================================================ */
.it-el-bg {
    position: relative;
    min-height: 100%;
    background-size: cover !important;
    background-position: center center;
    /*z-index: 1;*/
    padding-bottom: 50px;
}

#it-page {
    background: url(../img/bg-it-4.jpg) 50% 0 no-repeat fixed;
}

.it-section {
    padding-top: 150px;
}

.it-section h1 {
    font-family: "Raleway Medium", sans-serif;
    margin: 0;
    font-size: 23px;
    letter-spacing: 1px;
}

.posts-trip-content {
    width: 860px;
    margin: 0 auto;
}

.posts-trip-content h2 {
    margin: 0 15px 5px 15px;
    font-family: "Raleway Medium", sans-serif;
    letter-spacing: 0;
    border-bottom: 2px solid rgba(88, 182, 182, 0.6);
    padding: 0 0 4px 0;
}

.subtitle-post {
    font-family: "Raleway Light", sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    padding: 0 15px;
}

.post-block img {
    max-width: 400px;
    min-width: 400px;
    max-height: 400px;
}

.posts-trip-content .col-md-6 {
    margin-top: 20px;
}

.content-post {
    background-color: #fff;
}

.content-post p {
    color: #616161;
    font-family: "Raleway Medium", sans-serif;
    letter-spacing: 0;
    line-height: 18px;
    margin: 0;
    padding: 13px 15px;
    text-align: center;
}
/* ====================================================== End of it-section ============================================================ */

/* ====================================================== RESPONSIVE ============================================================ */
/* MAX-WIDTH INQUIRIES */
@media only screen and (max-width: 991px) {
    .it-section {
        padding-top: 120px;
    }

    .posts-trip-content {
        width: 430px;
    }
}

@media only screen and (max-width: 767px) {
    .it-section h1 {
        font-size: 18px !important;
    }

    .it-section {
        padding-top: 80px;
    }

    .note-block .title-note {
        font-size: 17px;
    }

    .note-block p {
        font-size: 13px;
        letter-spacing: 0;
    }

    .note-block {
        width: 270px;
    }

    .note-block .date-note {
        margin: 3px 0 0 0;
        font-size: 13px;
    }

    .posts-trip-content h2 {
        font-size: 18px;
    }

    .subtitle-post {
        font-size: 13px;
    }

    .content-post p {
        padding: 12px 14px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 520px) {
}

@media only screen and (max-width: 520px) {
    .tit-section {
        font-size: 24px !important;
    }
}

@media only screen and (max-width: 490px) {
    .posts-trip-content {
        width: 320px;
    }

    .post-block img {
        max-width: 290px;
        min-width: 290px;
        max-height: 290px;
    }
}

@media only screen and (max-width: 446px) {
    #top-bar-menu a.navbar-brand {
        margin: 14px 15px 14px -5px;
    }
}

@media only screen and (max-width: 350px) {
    .posts-trip-content {
        width: 260px;
    }

    .post-block img {
        max-width: 230px;
        min-width: 230px;
        max-height: 230px;
    }
}
/* End of MAX-WIDTH INQUIRIES */

/* MIN-WIDTH INQUIRIES */
@media only screen and (min-width: 1200px) {
}
/* End of MIN-WIDTH INQUIRIES */

/* MAX-HEIGHT INQUIRIES */
@media only screen and (max-height: 790px) {
}
/* End of MAX-HEIGHT INQUIRIES */

/* MIN-HEIGHT INQUIRIES */
/* End of MIN-HEIGHT INQUIRIES */
/* ====================================================== End of RESPONSIVE ============================================================ */