/* ====================================================== about me ============================================================ */
.am-el-bg {
    position: relative;
    min-height: 100%;
    background-size: cover !important;
    background-position: center center;
    /*z-index: 1;*/
    padding-bottom: 50px;
}

#am-page {
    background: url(../img/bg-about-me.jpg) 50% 0 no-repeat fixed;
}

.about-me-section {
    padding-top: 150px;
}

.about-me-section h1 {
    font-family: "Raleway Medium", sans-serif;
    margin: 0;
    font-size: 23px;
    letter-spacing: 1px;
}

.about-me-block {
    width: 430px;
    margin: 0 auto;
}

.about-me-block img {
    max-width: 430px;
    max-height: 430px;
    display: block;
    margin: 0 auto;
}

.about-me-comment {
    background-color: #fff;
    padding: 14px 23px;
}

.about-me-comment p {
    color: #616161;
    margin: 0;
}

/* ====================================================== End of about me ============================================================ */

/* ====================================================== RESPONSIVE ============================================================ */
/* MAX-WIDTH INQUIRIES */
@media only screen and (max-width: 991px) {
    .about-me-section {
        padding-top: 120px;
    }
}

@media only screen and (max-width: 767px) {
    .about-me-section h1 {
        font-size: 18px !important;
    }

    .about-me-section {
        padding-top: 80px;
    }

    .about-me-block {
        width: 310px;
    }

    .about-me-block img {
        max-width: 430px;
    }

    .about-me-block img {
        max-width: 310px;
    }

    .about-me-comment {
        padding: 9px 20px;
        line-height: 15px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 520px) {
    .tit-section {
        font-size: 24px !important;
    }
}

@media only screen and (max-width: 446px) {
    #top-bar-menu a.navbar-brand {
        margin: 14px 15px 14px -5px;
    }
}

@media only screen and (max-width: 355px) {
    .about-me-block {
        width: 220px;
    }

    .about-me-block img {
        max-width: 220px;
    }

    .about-me-comment {
        padding: 11px 20px;
        line-height: 13px;
        font-size: 12px;
        letter-spacing: 0;
    }
}
/* End of MAX-WIDTH INQUIRIES */

/* MIN-WIDTH INQUIRIES */
@media only screen and (min-width: 1200px) {
}
/* End of MIN-WIDTH INQUIRIES */

/* MAX-HEIGHT INQUIRIES */
@media only screen and (max-height: 790px) {
}
/* End of MAX-HEIGHT INQUIRIES */

/* MIN-HEIGHT INQUIRIES */
/* End of MIN-HEIGHT INQUIRIES */
/* ====================================================== End of RESPONSIVE ============================================================ */